.main {
    background-image: url("uploads/grey-slate.jpg");
    width: 50%;
    height: auto;
    display: block;
    margin-left: 20%;
    margin-right: 80%;
    position: relative;
    top: 30%;
    font-size: 30px;
    color: lightcoral;
}

.main1 {
    width: 50%;
    height: auto;
    display: block;
    margin-left:90%;
    margin-right:10%;
    position: relative;
    top: 8%;
}

.main3 {
   
    background-image: url("uploads/grey-slate.jpg");
    font-size: 30px;
    color: lightcoral;
}


#centerContent {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px is standard */
    background-color: white;
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

.login {
    font-weight: bold;
    font-size: 30px;
    color: green;
}

#logout {
    font-size: 30px;
    font-weight: bold;
    color: lightcoral;
}
#pageNavigation {
    float: left;
    font-weight: bold;
    font-size: 30px;
    color: red;
}

.banner {
    font-weight: bold;
    font-size: 30px;
    color: red;
}

.Titl {
    text-align: left;
    font-size: 30px;
    color: lightblue;
    display: table;
    width: 100%;
}

#BG {
    background-image: url("uploads/grey-slate.jpg");
    background-color: black;
    margin: 0;
    padding: 0;
}

.bkg {
    background-image: url("uploads/blue-slate1.jpg");
    margin: 0;
    padding: 0;
}

.bkg2 {
    background-image: url("uploads/blue-slate1.jpg");
    margin: 0;
    padding: 0;
}

#BG2 {
    background-color: black;
    margin: 0;
    padding: 0;
}

#BG3 {
    background-image: url("uploads/JBbg.jpg");
    background-color: black;
    margin: 0;
    padding: 0;
}

.BG4 {
    background-image: url("uploads/JBbg2.jpg");
    background-color: black;
    margin: 0;
    padding: 0;
    color: orangered;
    font-weight: bold;
    font-size: 18px;
}

#form1 {
    float: left;
    font-weight: bold;
    font-size: 24px;
    color: orangered;
}

.login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   color: black;
}
#register {
    font-weight: bold;
    font-size: 30px;
    color: green;
}
