{% extends "master.html.twig" %}

{% block title %}Company list{% endblock %}
        companyName: <input type="text" name="companyname" value="{{v.company name}}"><br>
        profileDescription: <textarea name="profiledescription">{{v.profile description}}</textarea><br> 
        categoryId: <input type="number" name="categoryid"><br>
        website: <input type="url" name="website"><br>
{% block content %}
    <div id="BG3">
    <p><a href="/admin/companies/add">add company</a></p>
    <table border="1">
        <tr><th>Company Name</th><th>Profile Description</th><th>Category Id</th><th>Website</th></tr>
        {% for c in list %}
        <tr>
            <td>{{c.companyname}}</td>
            <td>{{c.profiledescription}}</td>
            <td>{{c.categoryid}}</td>
            <td>{{c.website}}</td>
            <td>
                <!-- method 1 - simple h-ref text link -->
                <!-- <a href="/admin/products/edit/{{c.id}}">Edit</a> -->
                <!-- method 2 - button with javascript -->
                <button onclick="window.location='/admin/companies/delete/{{c.id}}';">Delete</button>
                <!-- method 3 - form with submit button -->
                <form action="/admin/companies/edit/{{c.id}}">
                    <input type="submit" value="Edit">
                </form>
            </td>
        </tr>                
        {% endfor %}
    </table>
    </div>
{% endblock content %}
