{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="BG3">
    <p class="banner">Add Company</p>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
        companyName: <input type="text" name="companyname" value="{{v.company name}}"><br>
        profileDescription: <textarea name="profiledescription">{{v.profile description}}</textarea><br> 
        categoryId: <input type="number" name="categoryid"><br>
        website: <input type="url" name="website"><br>
        <input type="submit" value="{% if v.id %}Save{% else %}Add{% endif %} ">
    </form>
    </div>
{% endblock content %}
