{% extends "master.html.twig" %}
<div id="BG3">
{% block content %}
    <p>Company {% if savedId %}saved{% else %}added{% endif %} successfully,
        <a href="/admin/company/list">click to continue</a></p>
</div>
{% endblock %}
