{% extends "master.html.twig" %}

{% block content %}
<div id="BG4">
    <p>Job {% if savedId %}saved{% else %}added{% endif %} successfully,
        <br>
        <a href="/jobs_list">click to continue</a></p>
</div>
{% endblock %}
