{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <body class="BG4">
    <p class="banner">Add Jobs</p>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{jobInfo.id}}" />
        Name: <input type="text" name="name" value="{{ jobInfo.name }}"><br><br>
        Category: <select name="category" value="{{ jobInfo.category }}">
            <option {% if jobInfo.category == "Agriculture, Food and Natural Resources" %}selected{% endif %}>Agriculture, Food and Natural Resources</option>
            <option {% if jobInfo.category == "Arts, Audio/Video Technology and Communications" %}selected{% endif %}>Arts, Audio/Video Technology and Communications</option>
            <option {% if jobInfo.category == "Education and Training" %}selected{% endif %}>Education and Training</option>
            <option {% if jobInfo.category == "Government and Public Administration" %}selected{% endif %}>Government and Public Administration</option>
            <option {% if jobInfo.category == "Hospitality and Tourism" %}selected{% endif %}>Hospitality and Tourism</option>
            <option {% if jobInfo.category == "Information Technology" %}selected{% endif %}>Information Technology</option>
            <option {% if jobInfo.category == "Manufacturing" %}selected{% endif %}>Manufacturing</option>
            <option {% if jobInfo.category == "Science, Technology, Engineering and Mathematics" %}selected{% endif %}>Science, Technology, Engineering and Mathematics</option>
        </select><br><br>
        Description: <input type="text" name="description" value="{{ jobInfo.description }}">
        <br>
        <br>
        <input type="submit" value="{% if jobInfo.id != -1 %}Save{% else %}Add{% endif %} job">
    </form>
    <div class="main1">
        <img src="uploads/jobboard.jpg" alt="Job board">
    </div>
    </body>
{% endblock content %}
