{% extends "master.html.twig" %}

{% block title %}Jobs list{% endblock %}

{% block content %}
    <body class="BG4">
    <table border="1">
        <tr><th>#</th><th>name</th><th>category</th><th>description</th></tr>
        {% for j in allJobs %}
        <tr>
            <td>{{j.id}}</td>
            <td>{{j.name}}</td>
            <td>{{j.category}}</td>
            <td>{{j.description}}</td>
            <td>
                <!-- method 1 - simple h-ref text link -->
                <!-- <a href="/admin/products/edit/{{j.id}}">Edit</a> -->
                <!-- method 2 - button with javascript -->
                <button onclick="window.location='/jobs_delete?id={{j.id}}';">Delete</button>
                <!-- method 3 - form with submit button -->
                <button onclick="window.location='/jobs_addedit?id={{j.id}}';">Edit</button>
                </form>
            </td>
        </tr>                
        {% endfor %}
    </table>
    <br>
    <br>
    <p><a href="/">Return to homepage</a></p>
    <p><a href="/register">Go to registration</a></p>
    </body>
{% endblock content %}
