{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        User type: <select id="usertype">
            <option value="">User type</option>
            <option value="0">Job Seek</option>
            <option value="1">Recruiter</option>
        </select>
        First Name: <input type="text" name="firstname" value="{{v.firstname}}"><br>
        Last Name: <input type="text" name="lastname" value="{{v.lastname}}"><br>
        Email: <input type="email" name="email" value="{{v.email}}">
        <span class="errorMessage" id="isTaken"></span><br>
        Password: <input type="password" name="pass1"><br>
        Password (repeated): <input type="password" name="pass2"><br>
        Birth date: <input type="date" name="birthdate" value="{{v.birthdate}}"><br>
        Gender: <select id="gender">
            <option value="">Gender</option>
            <option value="0">Male</option>
            <option value="1">Female</option>
            <option value="2">Other</option>
        </select>
        Phone: <input type="text" name="phone"><br>
        Photo: <input type="image" src="img_submit.gif" alt="Submit">
        <input type="submit" value="Submit">
    </form>

{% endblock content %}
