{% extends "master.html.twig" %}
{% block title %}Job Portal{% endblock %}
{% block headAdd %}
    <script>
 
    </script>
        <title>Job Portal</title>
        <link rel="stylesheet" href="styles.css">
 {% endblock %}    
 
{% block content %}
    <body class="main">
    <div class ="main1">
        <img src="uploads/jobboard1.jpg" alt="Job board">
    </div>
    <p class="banner">The fast and easy way to search for jobs</p>
    <br>
    <br>
    <div id="pageNavigation">
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
    {% if isRecruiter %}
        <p><a href="/jobs_addedit">Add Job Posting</a></p>
    {% endif %}
    <p><a href="/logout">Logout</a></p>
    </div>
    </body>
{% endblock content %}
  