{% extends "master.html.twig" %}

{% block content %}
    
    {% if error %}
        <p>Invalid login credentials, try again or <a href="/register">register</a></p>
    {% endif %}
    <body class="bkg">
    <div id="BG">
    <p class="Titl">User Login</p>
    <br>
    <br>
    <form method="post" class="login">
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    </div>
    </body>
{% endblock content %}