<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block headAdd %}{% endblock %}
    </head>
    <body>
        <div id="centerContent">{% block content %}{% endblock %}
            <div id="footer"><br>
                &copy; Copyright 2019 by me.
        </div>
        </div>
    </body>
</html>
