{% extends "master.html.twig" %}

{% block headAdd %}
        <script>
            $(document).ready(function() {
                $('input[name=email]').keyup(function() {
                    var email = $('input[name=email]').val();
                    $('#isTaken').load("/isemailregistered/" + email);
                });
            });
        </script>
{% endblock headAdd %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <body class="bkg2">
    <div id="BG">
    <p class="Titl">User Registration</p>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data" action="register" id="form1">
        userType: <select name="usertype">
            <option>Job Seeker</option>
            <option>Recruiter</option>
        </select>
        <br>
        firstName: <input type="text" name="firstName"><br>
        lastName: <input type="text" name="lastName"><br>
        email: <input type="text" name="email"><br>
        birthDate: <input type="text" name="birthdate"><br>
        password: <input type="password" name="password"><br>
        gender: <select name="gender">
            <option>male</option>
            <option>female</option>
            <option>other</option>
        </select>
        <br>
        phone: <input type="text" name="phone"><br>
        photo: <input type="file" name="photo" accept="image/*"><br>
        <input type="submit" name="" value="Register">
    </form>
    </div>
    </body>
{% endblock content %}