{% extends "master.html.twig" %}


{% block headAdd %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock headAdd %}
{% block title %}Job Search{% endblock %}

{% block content %}
    <body class="main3">
    <p class="banner">What is the name of the job you are looking for?</p>
    <br>
    <br>
    <form method="get" action="/search">
        <input type="text" name="query" />
        <input type="submit" value="Search" />
    </form>
    <img src="uploads/jobsearch61.jpg" alt="Job hunt">
    </body>
{% endblock content %}
